@charset "utf-8";

@media screen and (max-width:768px){
    #topo{
        width: 100%;
        height: 10vh;
        background-color: beige;
    }

    #img_logo{
        width:55vw;
        background-size: cover;
    }

    #menu{
        display: none;
        background-color: antiquewhite;
    }

    span#burguer{
        background-color: rgb(41, 41, 139);
        display: block;
        color: #fff;
        text-align: center;
        padding: 7px;
        cursor: pointer;
    }

    span#burguer:hover{
        background-color: #fff;
        color: rgb(41, 41, 139);
        

    }



}