*{
    margin: 0px;
    padding: 0px;
}

@media (max-width:768px){
    #cabecalho_site h1{

        height: 10px;

    }

    #principal #menu #menu_normal{
        display: none;
        list-style: none;
    }

    #principal #menu_responsivo{
        margin-left: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        cursor: pointer;
    }

    #principal #menu_responsivo .bar{
        width: 30px;
        height: 3px;
        background-color: #6aa6be;
        border-radius: 3px;
        transition: all 0.3s ease;

    }

  .show{
    display: block;
  }

  #principal #am_produtos{
    width: 100%;
    height: auto;
    text-align: center;
  }

  #principal #am_produtos h3{
    margin-top: 8px;
    background: #0367A6;
    padding: 5px;
    color: #FFD700;
    font-size: 2.3vw;
   }

  #principal #am_produtos #env_produtos{
    
    width: 98.5%;
    height: auto;
    display: flex;
    margin: 10px 0px;
    padding: 10px 0px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  #principal #am_produtos #env_produtos .banner_produtos{
    margin: 15px;
    width: 200px;
    height: auto;
  }

  #principal #am_produtos #env_produtos .banner_produtos img{
    box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.8);
    width: 95%;
    height: auto;
  }

  #rodape_site{
    flex-direction: column;
  }
}