*{
    margin: 0px;
    padding: 0px;
}

#cabecalho_site{
    background: linear-gradient(to right, #0367A6, #0378A6, #140742);
    width: 100%;

}

#cabecalho_site img{
    width: 50%;
}

#cabecalho_site p{
    float: right;
    margin: 5%;
    width: 35%;
    font-size: 2.6vw;
    color: yellow;
    text-align: center;

}

#principal #menu{
    width: 100%;
    margin-top: 2px;
    padding: 5px 0px;
    background-color: #140742;
    
}
#principal #menu ul{
    display: flex;
    width: 50%;
    padding: 5px 0px;
    justify-content: center;
    text-align: center;
    background-color:#6aa6be;
   
}

#principal #menu ul li{
    list-style: none;
    width: 150px;
}

#principal #menu ul li a{
    text-decoration: none;
    width:150px;
   
}
    
