*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#cabecalho_site{
    background: linear-gradient(to right, #0367A6, #0378A6, #140742);
    width: 100%;
    height: 10%;

}

#cabecalho_site img{
    width: 50%;
}

#cabecalho_site h1{
    float: right;
    margin: 5%;
    width: 35%;
    height: 50px;
    font-size: 2.2vw;
    color: yellow;
    text-align: center;
}

#principal #menu_responsivo{
    display: none;
}

#principal #menu{
    width: 100%;
    margin-top: 1px;
    padding: 5px 0px;
    background-color: #140742;  
    
}
#principal #menu ul{
    display: flex;
    padding: 5px 0px;
    justify-content: center;
    text-align: center;
    background-color:#6aa6be;
   
}

#principal #menu ul li{
    list-style: none;
    width: 150px;
    padding: 3px 0px;
}

#principal #menu ul li a{
    text-decoration: none;
    width:150px;
}

#principal #menu ul li:hover{
    box-shadow: 0 2px 0 0#140742;
    background-color: azure;
    cursor: pointer;
}
    
