*{
    margin: 0;
    padding: 0;
}

#cabecalho_site{
    background: linear-gradient(to right, #0367A6, #0378A6, #140742);
    width: 100%;

}

#cabecalho_site img{
    width: 50%;
}

#cabecalho_site p{
    border: 1px solid black;
    float: right;
    margin: 5%;
    width: 35%;
    font-size: 2.6vw;
    color: yellow;
    text-align: center;

}

#principal #menu{
    border: 1px solid black;
    
}
#principal #menu ul{
    border: 1px solid black;
    display: flex;
    text-decoration: none;

}

#principal #menu ul li{
   
}
    
